.icon {
  margin-left: 20px;
  height: 16px;
}

#space {
  color: black;
  text-decoration: none;
  margin-left: 40px;
}

#header {
  border-bottom: 1px solid rgb(223, 221, 221);
  background-color: white;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px;
  z-index: 1;
}

#logo {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  display: inline;
  width: 20%;
  height: auto;
  margin: auto;
}

.button {
  padding: 10px;
  margin-right: 10px;
  color: white;
  background-color: rgb(86, 123, 149);
  border: none;
  border-radius: 4px;
  cursor: default;
}

.editors-picks {
  position: absolute;
  right: 80px;
  top: 1890px;
  width: 210px;
  height: 335px;
}

footer h3 {
  font-size: 13px;
  font-weight: bold;
}

.editors-picks h3 {
  border-bottom: 1px solid rgb(226, 226, 226);
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-weight: 700;
  color: rgb(0, 0, 0);
  margin-bottom: 15px;
  padding-bottom: 12px;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.02em;
}

footer a {
  text-decoration: none;
  color: black;
  font-size: 14px;
}

.pick a {
  display: grid;
  grid-template-columns: 75px 1fr;
  grid-gap: 10px;
  padding-bottom: 15px;
  align-items: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 14px;
  line-height: 17px;
  color: rgb(51, 51, 51);
  text-decoration: none;
  font-weight: 500;
}

.home a {
  color: rgb(86, 123, 149);
  font-size: 11px;
}

.contact-list a {
  font-size: 11px;
  color: #666;
}

.footer-container li a {
  display: block;
}

.pick a:hover {
  text-decoration: underline;
}

footer img {
  margin-bottom: 15px;
  height: 44px;
  width: 184px;
}

.pick img {
  width: 75px;
  height: 75px;
}

.container {
  display: flex;
  flex-wrap: nowrap;
  margin-left: 400px;
}

.container-text {
  font-size: 1.8ch;
  opacity: 0.9;
}

.icons {
  width: 25px;
  height: 25px;
  margin: 10px;
}

#image {
  width: 75%;
}

.main-font {
  font-size: 1.3em;
  opacity: 0.8;
}

#figcaption {
  text-align: left;
  width: 55%;
  margin-left: 158px;
  opacity: 0.7;
}

#manu {
  width: 45%;
  margin-left: 400px;
  text-align: left;
  margin-top: 40px;
}

#container {
  display: flex;
  flex-direction: row;
  background: url(Images/image1.png);
  background-repeat: no-repeat;
  background-size: 955px 660px;
  margin-left: -200px;
  width: 1050px;
  height: 660px;
  flex-wrap: wrap;
}

.image {
  border: 1px solid rebeccapurple;
  margin: 10px;
  width: 220px;
  object-fit: contain;
}

#cooking {
  display: flex;
}

.flex {
  width: 22%;
  margin-top: 155px;
  padding: 5px;
}

#btn-signup {
  padding: 8px 10px 8px 10px;
  background: none;
  border: 1px solid black;
}

.links {
  color: #576789;
}

#telescope-img {
  width: 100%;
}

#flex-title {
  width: 1000px;
  margin-left: -150px;
}

.linehr {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8rem;
  font-weight: bold;
  margin: 20px;
  border-top: 1px solid #000;
  padding-top: 20px;
}

.newsletter {
  border: 1px solid lightgray;
  padding: 15px;
  display: grid;
  grid-template-columns: 80px 1fr;
  grid-gap: 15px;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  margin: 15px;
}

.newsletter img {
  width: 80px;
}

.top-footer div {
  display: flex;
  justify-content: space-between;
}

.newsletter > div:last-of-type {
  position: absolute;
  top: 15px;
  right: 15px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 1px solid #000;
  text-align: center;
  line-height: 30px;
  font-size: 1.2rem;
}

.description > div:nth-of-type(2) {
  font-size: 0.7rem;
  font-weight: bold;
  color: darkblue;
  margin-top: 15px;
}

.description > div > div:nth-of-type(2) {
  font-size: 0.9rem;
  font-weight: bold;
  margin-bottom: 5px;
}

.description > div > div:first-of-type {
  font-size: 0.7rem;
}

.description > div > div:nth-of-type(3) {
  font-size: 0.8rem;
}

.more {
  border-top: 1px solid lightgray;
  padding: 15px 0;
  display: grid;
  grid-template-columns: 1fr 60px;
  grid-gap: 30px;
  margin: 0 15px;
}

.more img {
  width: 60px;
}

.more > div > div:first-of-type {
  font-size: 0.9rem;
  margin-bottom: 5px;
}

.more > div > div:nth-of-type(2) {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.7rem;
  color: gray;
}

.link-decoration {
  text-decoration: none;
  color: inherit;
  font-size: 15px;
  font-weight: bold;
}

#bottom {
  font-size: 1.5ch;
  opacity: 0.7;
}

#bottom a {
  color: black;
  opacity: 0.9;
}

#button-icons {
  display: flex;
  flex-direction: row;
}

#button {
  width: 350px;
  height: 40px;
  color: white;
  background-color: rgb(86, 123, 149);
  margin-left: 40px;
  margin-top: 10px;
  border: none;
  border-radius: 3px;
}

#icons {
  display: flex;
  flex-direction: row;
  justify-content: left;
  width: 20px;
  height: 20px;
  margin-right: 30px;
}

.logo {
  width: 20%;
  margin-right: 78%;
}

.footer-options {
  text-align: left;
  margin-left: 20px;
  font-size: 1.5rem;
}

#title {
  margin-top: 100px;
  width: 50%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-left: 400px;
  text-align: left;
  font-size: 2.4em;
  font-style: italic;
}

.sub-article-footer {
  margin: 30px 0;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-footer {
  display: flex;
  justify-content: center;
}

.top-footer button {
  margin-right: 70px;
  width: 300px;
}

.top-footer .social-media-items {
  width: 156px;
}

footer {
  margin: 0 150px 0 100px;
  border-top: 3px ridge #e2e2e2;
}

.footer-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.footer-container ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 60px;
}

footer li {
  width: 250%;
  margin-top: 10px;
}

.last-icons i {
  margin-left: 0;
  margin-top: 2px;
  text-align: left;
}

.last-icons span {
  margin-left: 3px;
}

.contact {
  border-top: 1px solid #e2e2e2;
  width: auto;
}

.contact-list {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto;
}

.contact-list li {
  margin: 2px;
}

.vertical-line {
  border-left: 1px solid #e2e2e2;
  height: 400px;
  padding: 10px;
}

.home {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

@media screen and (min-width: 600px) {
  .mores {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 15px;
    padding: 0 15px;
  }

  .more {
    border-top: none;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    align-content: flex-start;
    grid-gap: 5px;
    margin: 0;
  }

  .more img {
    width: 100%;
  }

  .more > figure {
    order: -1;
  }
}

@media screen and (min-width: 800px) {
  .articles {
    display: grid;
    grid-template-columns: 5fr 2fr;
    grid-gap: 20px;
  }

  .articles-right {
    display: block;
    margin-right: 20px;
  }

  .articles-right ul {
    list-style-type: none;
  }

  .articles-right li {
    font-size: 0.9rem;
    padding: 15px 0;
    border-top: 1px solid lightgray;
  }
}

@media screen and (min-width: 1100px) {
  .container2 {
    width: 1100px;
    margin: 0 auto;
  }

  .editor-title {
    border-bottom: 1px solid lightgrey;
    padding-bottom: 20px;
  }

  h4 {
    margin: 20px 0;
  }

  .newsletters {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
  }

  .newsletter {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 80px auto;
    grid-gap: 15px;
    margin: 0;
  }

  .newsletter img {
    margin-bottom: 10px;
  }

  .description {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    align-content: space-between;
  }

  .mores {
    padding: 0;
  }
}
