body {
  text-align: center;
  margin: 0px;
  padding: 0px;
  font-family: nyt-imperial;
}

.icon {
  margin-left: 20px;
  height: 16px;
  width: 16px;
}

#space {
  color: black;
  text-decoration: none;
  margin-top: 0px;
  margin-left: 40px;
}

#logo {
  width: auto;
  height: auto;
}

#header {
  border-bottom: 1px solid rgb(223, 221, 221);
  background-color: white;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px;
  z-index: 1;
}